[Desktop Action Capture]
Exec=flameshot gui --delay 500
Name[ru_RU]=Сделать скриншот
Name=Take screenshot

[Desktop Action Configure]
Exec=flameshot config
Name[ru_RU]=Настройки
Name=Configure

[Desktop Action Launcher]
Exec=flameshot launcher
Name=Open launcher

[Desktop Entry]
Actions=Configure;Capture;Launcher;
Categories=Graphics;
Comment[ru_RU]=Простой и функциональный инструмент для создания скриншотов
Comment=Powerful yet simple to use screenshot software.
Exec=/usr/bin/flameshot
GenericName[ru_RU]=Создание скриншотов
GenericName=Screenshot tool
Icon=org.flameshot.Flameshot
Keywords=flameshot;screenshot;capture;shutter;
Name=Flameshot
StartupNotify=false
StartupWMClass=flameshot
Terminal=false
Type=Application
X-DBUS-ServiceName=org.flameshot.Flameshot
X-DBUS-StartupType=Unique
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2
